ALTER TABLE candidates ADD COLUMN status VARCHAR(20) DEFAULT 'published' AFTER mission;
ALTER TABLE students ADD COLUMN class VARCHAR(20) AFTER full_name; ALTER TABLE students ADD COLUMN is_locked TINYINT(1) DEFAULT 0 AFTER has_voted;
CREATE TABLE IF NOT EXISTS votes (id INT AUTO_INCREMENT PRIMARY KEY, candidate_id INT NOT NULL, student_grade VARCHAR(20) NOT NULL, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
